footer{
  display: flex;
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
}
.mainFooter{
  width: 30%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
.FAQ{
  display: flex;
  flex-direction: column;
}
.faqBtn{
  width: fit-content;
  text-decoration: none;
}

.footerBtns{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, min-content);
    grid-auto-flow: column;
    gap: 20px 10px;
}
.footerBtnsA{
  text-decoration: none;
}
.footerLine{
  border: 0.2px solid gray;
  opacity: calc(0.4);
}